

{% if object %}
    {% for comment in object %}
    <ul>
        <li><h2><a href="/PyTraker/comments/{{ comment.id }}">{{ comment.comment }}</a></h2></li>
        <li><p>{{ comment.user.firstname }} {{comment.user.lastname }}</p></li>
        <li><p>{{ comment.comment_date }}</p></li>
    </ul>

    {% endfor %}
{% else %}
<h2>You don't have any comment for display </h2>
<!-- for django to stop the if else analysis -->
{% endif %}
<h2>Add your comments here!</h2>
{{ userid }}
{{ i }}
{{ time }}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" id="id_user" name="user" value="{{ userid }}" />
    <input type="hidden" id="id_comment_date" name="comment_date" value="{{ time }}" />
<!--    {{ form.as_p }}-->
    <label>Comment:</label>
    <textarea name="comment" id="id_comment"></textarea>
    <input type="submit" value="Comment" />
</form>
{% endblock %}